@font-face{
    font-family: 'Clarika';
    src: url('../assets/fonts/The\ Refinery\ \ Clarika\ Geo\ Black.otf')
}
@font-face{
    font-family: 'Century Gothic';
    src: url('../assets/fonts/GOTHICB.TTF')
}
@font-face {
    font-family: 'Futura HV';
    src: url('../assets/fonts/FutuHv_0.ttf');
}
@font-face {
    font-family: 'Futura Book' ;
    src: url('../assets/fonts/futura-book-bt.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
.limiter {
    width: 100%;
    margin: 0 auto
}

.container-login100 {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 207, 201, 0.40)
}
.login_topimg-dark{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 207, 201, 0.40);
    position: absolute;
    z-index: 1;
}
.banner-title{
    display: flex;
    flex-direction: column;
    padding-left: 37%;
    padding-top: 27%;
    position: absolute;
    z-index: 2;
    color: #FFFFFF;
    h3{
        font-family: 'Clarika';
        font-size: 27px;
    }
    h2{
        font-family: 'Century Gothic';
    }
}
.login_topimg {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    min-height: 185px;
    position: relative;
   
    background-color: rgba(0, 207, 201, 0.40);
    background-position: center;
}

.login_topimg img {
    width: 100%;
    height: auto
}

.login_topimg .logo_wrap {
    border-radius: 5px;
    background: #fff;
    padding: 13px 55px;
    position: relative;
    top: -21px;
    margin: 10px auto;
    max-width: 255px
}

#login .wrap-login100 {
    background-color: #fff;
    padding: 20px 45px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    z-index:2;
}

.login100-form {
    width: 100%;
    margin: auto;
    margin-top: 26px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.login100-form-title {
    font-size: 32px;
    color: #243762;
    font-family: 'Futura HV';
    line-height: 1.2;
    width: 100%;
    display: block
}

.login100-form-subtitle {
    font-size: 16px;
    color: #243762;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1
}

#login input {
    outline: none;
    border: none
}

#login label {
    display: inline-block;
    margin-bottom: .5rem
}

.input-checkbox100 {
    display: none
}

input {
    outline: none;
    border: none
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1
}

.input100 {
    font-size: 18px;
    line-height: 1.3;
    font-family: 'Futura Book';
    color: #686868;
    display: block;
    width: 100%;
    border-bottom:solid rgba(0, 207, 201, 0.7)  !important ;
    height: 45px;
    border-radius: 3px;
    padding: 0 30px 0 10px
}

.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 3px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(211, 63, 141, 0.6)
}

.symbol-input100 {
    font-size: 15px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 23px;
    padding-bottom: 5px;
    pointer-events: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s
}

::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s
}

:-moz-placeholder {
    opacity: 1;
    -moz-transition: opacity .5s;
    transition: opacity .5s
}

::-moz-placeholder {
    opacity: 1;
    -moz-transition: opacity .5s;
    transition: opacity .5s
}

:-ms-input-placeholder {
    opacity: 1;
    -ms-transition: opacity .5s;
    transition: opacity .5s
}

::placeholder {
    opacity: 1;
    transition: opacity .5s
}

*:focus::-webkit-input-placeholder {
    opacity: 0
}

*:focus:-moz-placeholder {
    opacity: 0
}

*:focus::-moz-placeholder {
    opacity: 0
}

*:focus:-ms-input-placeholder {
    opacity: 0
}

*:focus::placeholder {
    opacity: 0
}

.lnr {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.flex-sb-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center
}

.w-full {
    width: 100%
}

.p-b-30 {
    padding-bottom: 30px
}

.input-checkbox100:checked+.label-checkbox100::before {
    color: #09569B
}

.label-checkbox100::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #e6e6e6;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.label-checkbox100 {
    font-size: 14px;
    font-weight: normal;
    color: #999999;
    line-height: 1.2;
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer
}

.m-b-16 {
    margin-bottom: 16px
}

.p-b-55 {
    padding-bottom: 55px
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.login100-form-btn:hover {
    background: #333333
}

.label-checkbox100::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background: #fff;
    border: 2px solid #00CFC9;
    left: 0;
    top: 48%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

#login button:hover {
    cursor: pointer
}

.login100-form-btn {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Futura HV';
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 45px;
    border-radius: 30px;
    background: #00CFC9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s
}

#login button {
    outline: none !important;
    border: none
}
.forget-password{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        color: #000000;
        font-family: 'Futura Book';
    }
}


/* nav */
.header-nav{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.container-logo{
    width: 290px;
    display: flex;
    align-items: center;
}
.container-logo img{
    width: inherit;
    padding: 10px;
}
.container-profile{
    display: flex;
    padding: 10px;
    align-items: center;
    .container-user{
        font-size: 70px;
        margin-left: 30px;
    }
}
.user-online{
    display:flex;
    align-items: center;
}
.status{
    width: 20px;
    height: 20px;
    background: green;
    border-radius: 50%;
    margin-right: 10px;
}
.bg-custom{
    width: 100%;
    background-color: #00CFC9;
}
.nav-frame{
    max-height: 100vh !important;
}
.navbar{
    flex-wrap: nowrap;
}
.navbar-nav{
    width: 100%;
    justify-content: space-evenly;
}
.nav-item{
    font-family: 'Futura Book';
    margin-right: 30px;
    font-size: 25px;
    letter-spacing: 2px;
    :hover{
        background-color: #008F8C;
    }
    :focus{
        background-color: #008F8C;
    }
}
.dropdown-menu{
    background-color: #008F8C;
    .dropdown-item{
        color: #ffffff;
        font-size: 21px;
        font-family: 'Futura Book';
        font-weight: 100;
        border-bottom: 1px solid #ffffff;
    }
}

/*  home */

.banner{
    width: 100%;
    height: 70vh;
    background: rgb(0,207,201);
    .banner-img{
        width: inherit;
    }
}
.bnr-1{
    background: linear-gradient(90deg, rgba(0,207,201,0.52) 0%, rgba(255,255,255,0) 80%), url(../assets/Images/Imagen-Banner-home.jpg);
    background-size: cover;
}

.board{
    position: relative;
    top: -300px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.info{
    color:#ffffff;
    
    .first-title{
        font-weight: bolder;
        font-family: 'Clarika';
        font-size: 60px;
    }.second-title{
        font-family: 'Century Gothic';
        font-weight: 300;
        font-size: 50px;
        letter-spacing: 5px;
    }.parraf{
            font-family: 'Futura Book';
            font-size: 35px; max-width: 450px;
        }
}
.btn-info{
    background-color: #ffffff;
    color: #00CFC9;
    font-family: 'Century Gothic';
    font-size: 23px;
    padding: 15px 45px;
    border-radius: 25px;
    text-decoration: none;
}
.btn-info:hover{
        background: #008F8C;
        color: #ffffff;
}
.btn-autorec{
    width: 400px;
    height: 40px;
    background-image: url(../assets/icons/btn-autoreportesalud.png);
    background-size: contain;
}
.container-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -250px;
    .instruct{
        height: 300px;
        width: auto;
    }
}

/* pausas activas */
.bnr-2{
    background: linear-gradient(90deg, rgba(0,207,201,0.52) 0%, rgba(255,255,255,0) 80%), url(../assets/Images/Imagen-banner_pausas.jpg);
    background-size: cover;
    width: 90%;
    margin: auto;
    background-position-y: center;
}
.btn-option{
    position: relative;
    bottom: -100px;
    a{
        img{
            width: 182px;
            margin-right:35px ;
        }       
    }
}

.bnr-3{
    background: linear-gradient(90deg, rgba(0,207,201,0.52) 0%, rgba(255,255,255,0) 80%), url(../assets/Images/Imagen-BannerCap.jpg);
    background-size: cover;
    width: 90%;
    margin: auto;
    background-position-y: center;
}
.bnr-4{
    background: linear-gradient(90deg, rgba(0,207,201,0.52) 0%, rgba(255,255,255,0) 80%), url(../assets/Images/smiling-woman-in-shirt-posing-in-studio.jpg);
    background-size: cover;
    width: 90%;
    margin: auto;
    background-position-y: center;
    transform: scaleX(-1);
}
iframe{
    border-radius: 25px;
    margin-bottom: 15px;
    width: 100%;
}
.modal-title{
    color: #00CFC9;
}
.modal-body{
    background-color: #00CFC9;
}
.btn-secondary{
    background-color: #00CFC9;
}
.body-emergencias, .body-covid, .body-manejoestres{
    max-width: 870px;
    width:100%;
    margin: auto;
    padding:20px;
    background-color: #008F8C;
    color: #FFFFFF;

}
.menu-module{
    display: flex;
    flex-direction: column;
    max-width:fit-content;
    li{
        list-style: none;
        margin: 15px 0;
        a{
            padding-bottom: 5px;
            margin: 15px 0;
            font-family: 'Futura Book';
            letter-spacing: 2px;
            text-decoration: none;
            color:#ffffff;
        }
        a:focus-within    {
            border-bottom: 3px solid #ffffff;
        }
    }
}
.module-title{
    text-align: center;
    font-family:'Clarika';
}
#container-emergencias, #container-capacitaciones, #container-pausasactivas{
    position: relative;
    top:-300px;
}
.container-emergencias, .container-capacitaciones{
    display: flex;
    /*width: fit-content;*/
    margin-bottom: 50px;
}
#container-emergencias-info, #container-capacitaciones-info, #container-pausas-info{
    padding-left: 40px;
    padding-top: 20px;
    font-family : 'Futura Book BT';
    letter-spacing: 2px;
}
article{
    max-width: 550px;
}
.btn-evaluacion{
    background: #808080;
    color:#ffffff;
    margin: 30px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1.5px solid #212529;
}
.btn-evaluacion:hover{
    color:#ffffff;
}
.evaluacion{
    max-width: 100%;
    max-height: 100%;
}
.evaluacion-container iframe{
    height: 90vh;
}

@media (min-width: 768px) {
    .container {
        min-width: 750px
    }
    .container-login{
        display: flex !important;
        min-height: 70vh;
    }
    #login .wrap-login100 {
        padding: 27px
    }
    .banner-title{
        padding-left: 10%;
        padding-top: 27%;
    }
    .login_topimg .logo_wrap {
        padding: 5px 55px
    }
    .login100-form{
        width: 80%;
        margin-top: 25%;
    }
   
}
@media (max-width: 768px){
    #menu, .header-nav{
        width: auto;
        .container-user{
            margin-left: 20px;
        }
    }
    .navbar .container-fluid{
        flex-direction: column;
    }
    .banner{
        height: 50vh;
    }
    .board{
        flex-direction: column;
        width: 90%;
        margin: auto;
        .info{
            .first-title{
                font-size: 30px;
            }
            .second-title{
                font-size: 25px;
            }
            .parraf{
                font-size: 25px;
                text-shadow: #333333 .5px .5px .5px;
                max-width: 290px;
            }
        }.container-btn{
            margin: 20px;
        }
        .btn-option{
            text-align: end;
            a img{
                margin-bottom: 10px;
            }
        }
    }
    .instruct{ 
        display: none;
    } 
    .container-main{
        top: -180px;
    }
    .bnr-2, .bnr-3, .bnr-4{
        width: 100%;
    }
  
       
}