<article>
    <p>Seiri</p>
    <p>Separar los elementos necesarios para el desarrollo de las actividades, los restantes desechados.</p>
    <br>
    <p>Seiton</p>
    <p>Designar un lugar para cada cosa y mantener cada cosa en su logar.</p>
    <br>
    <p>Seisou</p>
    <p>Realizar limpieza del área de trabajo, evitando la acumulación de polvo en los equipos y espacios de trabajo.</p>
    <br>
    <p>Seiketsu</p>
    <p>Estandarizar como se quiere tener el área de trabajo.</p>
    <br>
    <p>Shitsuke</p>
    <p>Mantener el puesto de trabajo realizando los 4 pasos anteriores, esto se logra a través de la disciplina.</p>
</article>