<article>
    <li>Eliminación: Se suprime el peligro retirando la condición peligrosa por ejemplo cambio de zonas de almacenamiento.</li>
    <br>
    <li>Sustitución: Se reemplaza el elemento que genera el peligro pot otro que no represente peligro o lo disminuya, por ejemplo cambio de sillas por ergonómicas.</li>
    <br>
    <li>Control de ingeniería: Se toman medidas técnicas para controlar el peligro en la fuente, por ejemplo, los procesos que generen ruido pueden ser aislados con cerramiento acústico para prevenir afectar la audición.</li>
    <br>
    <li>Control administrativo: Permite reducir el tiempo de exposición, por ejemplo cambios de turnos, rotación de personal, tambien se incluye señalización y capacitación del personal.</li>
    <br>
    <li>Elementos de protección personal: Los colaboradores usan elementos que permitan proteger su cuerpo del peligro, por ejemplo gafas, botas, tapabocas, uniforme.  </li>
</article>