<article>
        <li>Cree una descripción del puesto de trabajo, 
            conozca y tenga en cuenta cuales sus funcio-
            nes puntuales.</li>
        <li>Genere metas razonables y a corto plazo</li>
        <li>Buscar apoyo, siempre es bueno acudir a un 
            familiar o a un amigo con el cual puedas 
            compartir tus preocupaciones, evita el 
            aislamiento.</li>
        <li>Es importante la comunicación tanto con tu 
            compañeros de trabajo, como tu jefe 
            inmediato, brinda tus comentarios y 
            sugerencias.
            </li>
        <li>Escucha a tu cuerpo, muchas veces el brinda 
            señales de alarma en momento de mucha 
            tensión o estrés.</li>
        <li>En momentos de elevada tensión, busca la 
            manera de realizar ejercicios de relajación, 
            tomate un tiempo ¡RESPIRA!</li>
</article>