
<div class="body-manejoestres">
    <h3 class="module-title">MANEJO DE ESTRÉS Y TIEMPO</h3>
    <div class="container-capacitaciones">
        <nav id="nav-capacitaciones"></nav>
        <div class="container-capacitacioness" id="container-capacitaciones-info"></div>
    </div>
    <p style="font-family:'Futura Book BT'; font-size:13px; padding-top:30px; letter-spacing: 1.5px;">Bibliografia MinTIC, & MinTrabajo. (2008). Libro Blanco, el ABC del Teletrabajo en Colombia.</p>
</div>
<script>
    $("#nav-capacitaciones").load("../views/capacitaciones/nav-estrestiempo.html");
</script>
