<ul class="menu-module">
    <li><a class="active" href="javascript:void(0)" onclick="loadPeligrosriesgos()">¿Qué es?</a></li>
    <li><a href="javascript:void(0)" onclick="loadIdentificacion()">Identificación de peligros</a> </li>
    <li><a href="javascript:void(0)" onclick="loadTiposPeligro()">Tipo de peligros</a></li>
    <li><a href="javascript:void(0)" onclick="loadControlPeligro()">Control de peligros</a> </li>
    <li><a href="javascript:void(0)" onclick="loadNivelCon()">Nivel de consecuencia</a></li>
    <li><a href="javascript:void(0)" onclick="loadPrevencion()">Prevención</a> </li>
    <li><a href="javascript:void(0)" onclick="load5s()">Metodología de las 5s</a></li>
    <li><a href="javascript:void(0)" onclick="loadRiesgos()">Riesgos</a> </li>
    <li><a href="javascript:void(0)" onclick="loadIncendios()">Incendios y explosiones</a></li>
</ul>