<ul class="menu-module">
    <li><a class="active" href="javascript:void(0)" onclick="loadErgonomiaDef()">¿Qué es?</a></li>
    <li><a href="javascript:void(0)" onclick="loadPc()">Computador</a> </li>
    <li><a href="javascript:void(0)" onclick="loadDesk()">Escritorio</a></li>
    <li><a href="javascript:void(0)" onclick="loadSilla()">Silla</a> </li>
    <li><a href="javascript:void(0)" onclick="loadTimeOptime()">Manejo del cuerpo</a></li>
    <li><a href="javascript:void(0)" onclick="loadPostura()">Postura</a> </li>
</ul>