<ul class="menu-module">
    <li><a class="active" href="javascript:void(0)" onclick="loadSst()">¿Qué es?</a></li>
    <li><a href="javascript:void(0)" onclick="loadParaqsst()">¿Para qué?</a> </li>
    <li><a href="javascript:void(0)" onclick="loadSgsst()">SG-SST</a></li>
    <li><a href="javascript:void(0)" onclick="loadEstandares()">Estándares mínimos</a> </li>
    <li><a href="javascript:void(0)" onclick="loadFases()">Fases</a></li>
    <li><a href="javascript:void(0)" onclick="loadPrevencion()">Ventajas</a> </li>
    <li><a href="javascript:void(0)" onclick="load5s()">Responsabilidades empleador</a></li>
    <li><a href="javascript:void(0)" onclick="loadRiesgos()">Responsabilidades trabajador</a> </li>
</ul>