<article>
    <h6>Peligro</h6>
    <p>Son aquellas situaciones o actos en su ambiente laboral que pueden llegar a causar daños ya sea a los colaboradores o a la organización.</p>
    <br></br>
    <h6>Riesgo</h6>
    <p>Se generan al realizar la combinación de la probabilidad de ocurrencia de un(os) sucesos peligrosos con la severidad del daño que estos pudieran provocar.</p>
    <p>Las condiciones laborales generar a corto, mediano o largo plazo efectos en la salud física y/o mental, denominándose riesgos laborales.</p>
</article>