<article>
    <p>Riesgo Eléctrico</p>
    <li>Realizar mantenimiento de las áreas eléctricas</li>
    <li>No halar el cable al desconectar los equipos</li>
    <li>Organizar el cableado, evitando que obstaculice zonas de paso </li>
    <li>Revisar estado de cableado.</li>
    <li>No sobrecargar los enchufes.</li>
    <li>Verificar que  las zonas eléctricas se encuentren libres de humedad y secas.</li>
    <br>
    <p>Riesgo Locativo</p>
    <li>Identificar zonas irregulares o desniveles del piso.</li>
    <li>Verificar estabilidad de barandas en escaleras.</li>
    <li>Mantener puertas y cajones cerrados.</li>
    <li>Verificar que el almacenamiento sea adecuado.</li>
</article>