<article>
    <li>El tamaño de la silla debe cubrir la cadera, la espalda y debe ofrecer apoyo suficiente desde la altura de los omoplatos.</li>
    <li>Debe permitir cambios de posición del asiento y espaldar.</li>
    <li>La altura de la silla debe ser de acuerdo a las medidas del trabajador, donde pueda apoyar los pies y los antebrazos de manera paralela.</li>
    <li>Se sugiere tener un apoya pies para que se genere buena circulación y los pies quedes a la altura de la cadera.</li>
    <div class="row" style="margin-top: 50px;">
        <div class="col-6"><img width="300" src="../assets/Images/silla1mdpi.png" alt=""></div>
        <div class="col-6"><img width="300" src="../assets/Images/silla2mdpi.png" alt=""></div>
    </div>
</article>