<article>
    <li>Organiza tu tiempo diario, semanal o mensual, 
        en el cual incluyas las pausas activas, 
        priorizando tus actividades por medio de un 
        horario.</li>
    <li>Administre el uso de la tecnología, desconéc-
        tese durante la cena, el almuerzo o después 
        de la jornada laboral.</li>
    <li>Busca momentos de satisfacción y procura 
        hacer alguna actividad que te ayude a contra-
        rrestar los tiempos laborales.</li>
    <li>Aproveche el tiempo libre, tómese su tiempo, 
        váyase de vacaciones, o un fin de semana de 
        descanso absoluto.</li>
</article>