<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Home</title>
</head>
<body>
    <div id="menu"></div>
    <div class="banner bnr-1"></div>
    <div class="board">
        <div class="info">
            <p class="first-title">MANTÉNGASE SEGURO</p>
            <P class="second-title">Y TAMBIÉN SALUDABLE</P>
        </div>
        <div class="container-btn">
            <a class="btn-info" target="_blank" href="../assets/fonts/Instructivo.pdf">Instructivo</a>
        </div>
    </div>
    <div class="container-main">
        <a href="#"><img class="btn-autorec" alt="" data-bs-toggle="modal" data-bs-target="#evaluacionManejo"></a>
        <div class="modal fade" id="evaluacionManejo" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
            <div class="modal-dialog evaluacion">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Autoreporte de Salud</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body evaluacion-container">
                  <iframe src="https://forms.gle/kon2cFtkXYDzCzgX7" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hecho</button>
                </div>
              </div>
            </div>
          </div>
        <img class="instruct" src="../assets/icons/img-sst1.png" alt="">
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="../js/nav.js"></script>
</html>