<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Home</title>
</head>
<body>
    <div id="menu"></div>
    <div class="banner bnr-1"></div>
    <div class="board">
        <div class="info">
            <p class="first-title">MANTÉNGASE SEGURO</p>
            <P class="second-title">Y TAMBIÉN SALUDABLE</P>
        </div>
        <div class="container-btn">
            <a class="btn-info" target="_blank" href="https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=bbab9956a2&attid=0.1&permmsgid=msg-f:1714360933572024608&th=17caa22f9e5e1920&view=att&disp=inline&realattid=f_kv2wr9vc0&saddbat=ANGjdJ_C4jNrGXtvK5JCwdpfSjtEhF83E59UOv9QIbwq7Zws9FLnYCkyg0DivvV9sx674I-2FtYC46Dwm4DpgMKw09TbDI4b55UsanH7WSVykhCChcgk4XcAW8P8sGtryTHpNDB2ZUOK-aMAB8fE6pnxpszNpzyD9zFg6eaG5lYW40TseRwcAYGJcIqz_54fbFEFwlKi6Ack2fQOicYL3-GpwED9YlXo7M8yjv8u71-bMQQt8blB1xA1H7y7LLsWhHV2EvoQxTyXxTRcyubdluO1o6zyBRoo42B9pX3hWZhUl9tCektIPCw2_i_RvnfQnBAddwoT1wcyhdd_wtuTpr8vzTwS2EAaCy3Bl2shxpv0CDN4CXM_CfyTXcbEoFyoj8zmNQjb-iNcqZZKdbDJqtBh788Vr7utr1vbcVWaSjf1K3WyxKt9PoFhbpleZAaR2TSg4cWg5ORSdmXTzYRicYIia0pbMYBjj_EuR2XpeAVHHf8FUXQyxTJP4y-p73CNhG559X38CfiAGvgm9H9LFzGANMo5jhA2BRE69YMY3Wm8m4xGrGQZZdbX8r11AsdHpIJvf8T5JD6VQaiE6C6W-HxZG1opouOIOlJHzavLINUXrcQIhzVXJ-XTYVdi5ws1NJpVIgaaiGWhyb5_lZLGKlaalSEwuK5WjDPMeYqJu3gY5J7Zm27UU7Zc0HUZGEE">Instructivo</a>
        </div>
    </div>
    <div class="container-main">
        <a href="#"><img class="btn-autorec" alt="" data-bs-toggle="modal" data-bs-target="#evaluacionManejo"></a>
        <div class="modal fade" id="evaluacionManejo" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
            <div class="modal-dialog evaluacion">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Autoreporte de Salud</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body evaluacion-container">
                  <iframe src="https://forms.gle/kon2cFtkXYDzCzgX7" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hecho</button>
                </div>
              </div>
            </div>
          </div>
        <img class="instruct" src="../assets/icons/img-sst1.png" alt="">
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="../js/nav.js"></script>
</html>