<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Home</title>
</head>
<body>
    <div id="menu"></div>
    <div class="banner bnr-1"></div>
    <div class="board">
        <div class="info">
            <p class="first-title">MANTÉNGASE SEGURO</p>
            <P class="second-title">Y TAMBIÉN SALUDABLE</P>
        </div>
        <div class="container-btn">
            <a class="btn-info" href="#">Instructivo</a>
        </div>
    </div>
    <div class="container-main">
        <a href="#"><img class="btn-autorec" alt=""></a>
        <img class="instruct" src="../assets/icons/img-sst1.png" alt="">
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="../js/nav.js"></script>
</html>