<head>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<nav>
    <div class="header-nav">
        <div class="container-logo">
          <img src="../assets/icons/LogoSST.png" alt="">
        </div>
        <div class="container-profile">
          <div class="info-user">
            <h4>Usuario Logueado</h4>
            <p>En Linea</p>
          </div>
          <div class="container-user">
            <i class="fas fa-user-circle"></i>
          </div>
        </div>
    </div>
    <div class="navbar navbar-expand-lg navbar-light bg-custom p-0">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01" >
              <!-- <a class="navbar-brand" href="#" style="color: #ffffff;">Hidden brand</a> -->
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link nav-item active dropdown-toggle" href="pausasActivas.html" style="color: #ffffff;" role="button" id="dropdownPausas" data-bs-toggle="dropdown" aria-expanded="false">Pausas Activas</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownPausas">
                    <li><a href="pausasActivas.html" class="dropdown-item">Pausas Físicas</a></li>
                    <li><a href="pausasActivas.html" class="dropdown-item">Pausas Mentales</a></li>            
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link nav-item dropdown-toggle" href="capacitaciones.html" style="color: #ffffff;" role="button" id="dropdownCapacitaciones" data-bs-toggle="dropdown" aria-expanded="false">Capacitaciones</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownCapacitaciones">
                    <li><a href="capacitaciones.html" class="dropdown-item">Sistema de Gestión SST</a></li>
                    <li><a href="capacitaciones.html" class="dropdown-item">Ergonomía</a></li>  
                    <li><a href="capacitaciones.html" class="dropdown-item">Peligros y Riesgos</a></li>
                    <li><a href="capacitaciones.html" class="dropdown-item">Manejo de Estrés y Tiempo</a></li> 
                    <li><a href="capacitaciones.html" class="dropdown-item">Puesto de Trabajo</a></li>          
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link nav-item dropdown-toggle" href="#" style="color: #ffffff;" role="button" id="dropdownSST" data-bs-toggle="dropdown" aria-expanded="false">Tips de SST</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownSST">
                    <li><a href="tipssst.html" class="dropdown-item">Emergencias</a></li>
                    <li><a href="tipssst.html" class="dropdown-item">Covid</a></li>            
                  </ul>
                </li>
              </ul>
             
            </div>
          </div>
          <form class="d-flex" style="background-color: gray; margin-right: 30px;">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><i class="fas fa-search" style="color: #ffffff;"></i></button>
          </form>
    </div>
</nav>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>