<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Pausas Activas</title>
</head>
<body>
    <div id="menu"></div>
    <div class="banner bnr-2">
        <!-- <img class="banner-img" src="../assets/Images/Imagen-Banner-home.jpg" alt=""/> -->
    </div>
    <div class="board">
        <div class="info">
            <p class="first-title">PAUSAS ACTIVAS</p>
            <P style="font-size: 40px;font-family: 'Futura Book'; max-width: 450px;">Recuerda reservar entre 5 y 10 minutos por cada hora de trabajo.</P>
        </div>
        <div class="container-btn btn-option">
            <a class="" href="#"><img src="../assets/icons/pausaFisica.png" alt=""></a>
            <a class="" href="#"><img src="../assets/icons/pausaMental.png" alt=""></a>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="../js/nav.js"></script>
</html>