<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Pausas Activas</title>
</head>
<body>
    <div id="menu"></div>
    <div class="banner bnr-2">
        <!-- <img class="banner-img" src="../assets/Images/Imagen-Banner-home.jpg" alt=""/> -->
    </div>
    <div class="board">
        <div class="info">
            <p class="first-title">PAUSAS ACTIVAS</p>
            <P class="parraf">Recuerda reservar entre 5 y 10 minutos por cada hora de trabajo.</P>
        </div>
        <div class="container-btn btn-option">
            <a class="" href="#" data-bs-toggle="modal" data-bs-target="#pausaFisica"><img src="../assets/icons/pausaFisica.png" alt=""></a>
            <a class="" href="#" onclick="loadPausasMentales()"><img src="../assets/icons/pausaMental.png" alt=""></a>
        </div>
        <div class="modal fade" id="pausaFisica" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Pausas Físicas</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <iframe  height="325" src="https://www.youtube.com/embed/LxU6BlPdsz8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <iframe height="325" src="https://www.youtube.com/embed/q-rHHCufU_4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <iframe  height="325" src="https://www.youtube.com/embed/IY0mXFM0oZE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <form target="_blank" action="https://formsubmit.co/karentverano@gmail.com" method="POST">
                    <input type="text" placeholder="tu nombre" name="name" required><br>
                    <input type="radio" value="visto video 1" name="video1" >video 1 <br>
                    <input type="radio" value="visto video 2" name="video2" >video 2 <br>
                    <input type="radio" value="visto video 3" name="video3" >video 3 <br>
                    <button class="btn btn-primary" type="submit"  data-bs-dismiss="modal">Pausas hechas</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="container-pausasactivas"></div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="../js/nav.js"></script>
<style>
  #container-pausasactivas{
    top: -150px;
  }
</style>
</html>