<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Tips SST</title>
</head>
<body>
    <div id="menu"></div>
    <div class="banner bnr-4"></div>
    <div class="board" style="top:-420px">
        <div class="container-btn">
        </div>
        <div class="info">
            <p class="first-title" style="text-align: left;">TIPS DE SST</p>
            <P class="parraf text-end">Es recomendable tener en cuenta los siguientes tips y mejorar la seguridad en los lugares de trabajo.</P>
        </div>
    </div>
    <div class="board" style="top:-470px">
        <div class="container-btn">
        </div>
        <div class="container-btn btn-option">
            <a class=""  onclick="loadEmergencias()"><img src="../assets/icons/emergencias.png" alt=""></a>
            <a class="" onclick="loadCovid()"><img src="../assets/icons/covid.png" alt=""></a>
        </div>
    </div>
    <div id="container-emergencias"></div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="../js/nav.js"></script>
</html>