<iframe width="795" height="690" frameborder="0" src="https://es.educaplay.com/juego/5484081-numeros_con_centenas.html"></iframe>
<form target="_blank" action="https://formsubmit.co/karentverano@gmail.com" method="POST">
    <input type="text" placeholder="tu nombre" name="name" required><br>
    <input type="radio" value="hecha adivinanza" name="video1">Adivinanza <br>
    <input type="radio" value="hecha sopa de letras" name="video2">Sopa de Letras <br>
    <input type="radio" value="hecah encuentra la palabra" name="video3">Encuentra palabra<br>
    <button class="btn btn-primary" type="submit"  data-bs-dismiss="modal">Pausas hechas</button>
</form>