<div class="body-emergencias">
    <h3 class="module-title">MEDIDAS PREVENCIÓN COVID 19</h3>
    <div class="container-emergencias">
        <div class="row">
            <div class="col-3">
                <h6>LAVADO DE MANOS</h6>
                <p>Lave sus manos frecuentemente y nolvide llevar el registro</p>
            </div>
            <div class="col-3">
                <img src="../../assets/icons/lavarmanos.png" width="150" alt="">
            </div>
            <div class="col-3">
                <img src="../../assets/icons/reportar.png" width="150" alt="">
            </div>
            <div class="col-3">
                <h6>REPORTE DE SINTOMAS</h6>
                <p>Si presenta, tos, fiebre, dificultad para respirar, dolor de cabeza, cansancio, perdida del olfato o del gusto, reportelo ante su jefe inmediato.</p>
            </div>
        </div>
            </br>
        <div class="row">
            <div class="col-3">
                <h6>USO DE TAPABOCAS</h6>
                <p>Revise que el tapabocas se encuentre en buen estado, no lo toque durante su uso, asegure que cubra nariz y boca.</p>
            </div>
            <div class="col-3">
                <img src="../../assets/icons/tapabocas.png" width="150" alt="">
            </div>
            <div class="col-3">
                <img src="../../assets/icons/distancia.png" width="150" alt="">
            </div>
            <div class="col-3">
                <h6>DISTANCIAMIENTO</h6>
                <p>Guarde al menos un metro de distancia entre usted y otras personas, evite abrazarse, darse la mano o cualqueir tipo de contacto físico</p>
            </div>
        </div>
    </div>
    <p style="font-family:'Futura Book BT'; font-size:13px; padding-top:30px; letter-spacing: 1px;">Bibliografia MinTIC, & MinTrabajo. (2008). Libro Blanco, el ABC del Teletrabajo en Colombia.</p>
</div>
<script>
    $("#nav-emergencias").load("../views/tipsSST/nav-emergencias.html");
</script>
<style>
    .container-emergencias{
        flex-direction: column;
    }
    .row{
        width: 100%;
    }
    p{
        font-size: 12px;
        text-align: center;
    }
    h6{
        font-family: 'Clarika';
        text-align: center;
    }
</style>