

<div class="body-covid">
    <h3 class="module-title">EMERGENCIAS</h3>
    <div class="container-emergencias">
        <nav id="nav-emergencias"></nav>
        <div class="container-emergencias" id="container-emergencias-info"></div>
    </div>
    <p style="font-family:'Futura Book BT'; font-size:13px; padding-top:30px; letter-spacing: 1.5px;">Bibliografia MinTIC, & MinTrabajo. (2008). Libro Blanco, el ABC del Teletrabajo en Colombia.</p>
</div>
<script>
    $("#nav-emergencias").load("../views/tipsSST/nav-emergencias.html");
</script>