<article>
    <p>¿Que hacer en caso de incendio?</p>
    <p>Prevención:
        <li>Mantener el orden y limpieza</li>
        <li>Evitar materiales combustibles cerca de equipos</li>
        <li>Al identificar anomalias en equipos o instalaciones solicitar soporte profesional</li>
        <li>Contar con extintor</li>
    </p>
    <p>Durante:
        <li>Conserve la calma </li>
        <li>Busque un extintor cercano</li>
        <li>No utilice ascensores</li>
        <li>Suspender el fluido electrico</li>
        <li>Si no logra controlarlo, salga y deje la  puerta cerrada</li>
        <li>Comuniquese con emergencias</li>
    </p>
</article>