<article>
    <p>¿Que hacer en caso de sismo?</p>
    <p>Durante:
        <li>Mantenga la calma</li>
        <li>Suspenda la actividad que este realizando</li>
        <li>Alejese de ventanas, estantes u objetos que puedan caer</li>
        <li>Identifique un lugar seguro</li>
        <li>No se vaya de la vivienda durante el evento</li>
        <li>Procure tener una linterna</li>
    </p>
    <p>Después:
        <li>No corra </li>
        <li>Desconecte los equipo</li>
        <li>Salga utilizando las rutas de evacuación</li>
        <li>Ayude a quien lo necesite</li>
        <li>Si los daños son graves abandone el lugar</li>
        <li>No regrese sin autorización de grupos de emergencia</li>
    </p>
</article>