<article>
    <p>Fase 1: Evaluación Inicial</p>
        <li>Aplicar la evaluación e identificar brechas</li>
        <br>
    <p>Fase 2: Plan de mejora</p>
        <li>Establecer plan de mejora</li>
        <li>Diseñar SG-SST</li>
        <li>Elaborar plan de trabajo anual</li>
        <br>
    <p>Fase 3: Ejecución</p>
        <li>Aplicar las acciones definidas en plan de trabajo</li>
        <li>Definir plan de trabajo año siguiente</li>
        <br>
    <p>Fase 4: Seguimiento al plan de mejora</p>
        <li>Autoevaluación</li>
        <li>Definir plan de mejora e incorporarlo en el plan de trabajo que esta ejecutado</li>
        <br>
    <p>Fase 5: Inspección, vigilancia y control</p>
</article>